body {
  max-width: 80%;
  margin: 40px auto;
  background-color: rgb(200, 200, 243);
}

header,
form,
section {
  background-color: rgb(223, 221, 221);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 5px 15px rgb(149, 156, 156);
}

.pika-single {
  padding: 10px;
}
